body {
    margin: 0;
    background-color: rgb(100, 4, 4);
}

/*navbar*/


.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 14vh;
    background-color: #1b1b1b;
    color: #bcbbbb;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

/*Encabezado*/

.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://attachment.outlook.live.net/owa/MSA%3Atomasgonzalezdesarrolloweb%40hotmail.com/service.svc/s/GetAttachmentThumbnail?id=AQMkADAwATY0MDABLTFjNGItMDAAMWQtMDACLTAwCgBGAAADE03NuKS3XkCBBNAi%2FHashAcAafACAwXQV0G%2Bhmucu8smJQAAAgEMAAAAafACAwXQV0G%2Bhmucu8smJQAAAhUlAAAAARIAEABfJmibgYTtQJMSaWZdTZ4q&thumbnailType=2&isc=1&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IkQ4OThGN0RDMjk2ODQ1MDk1RUUwREZGQ0MzODBBOTM5NjUwNDNFNjQiLCJ0eXAiOiJKV1QiLCJ4NXQiOiIySmozM0Nsb1JRbGU0Tl84dzRDcE9XVUVQbVEifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2subGl2ZS5jb20iLCJ1YyI6ImZmYmZmOTFhNzQ3YTRlYzJiNTIzMzEyOTc2MDYwMWI3IiwidmVyIjoiRXhjaGFuZ2UuQ2FsbGJhY2suVjEiLCJhcHBjdHhzZW5kZXIiOiJPd2FEb3dubG9hZEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJpc3NyaW5nIjoiV1ciLCJhcHBjdHgiOiJ7XCJtc2V4Y2hwcm90XCI6XCJvd2FcIixcInB1aWRcIjpcIjE3NTkyMTkwNzkxMTg4NzdcIixcInNjb3BlXCI6XCJPd2FEb3dubG9hZFwiLFwib2lkXCI6XCIwMDA2NDAwMC0xYzRiLTAwMWQtMDAwMC0wMDAwMDAwMDAwMDBcIixcInByaW1hcnlzaWRcIjpcIlMtMS0yODI3LTQwOTYwMC00NzQ2NzcyNzdcIn0iLCJuYmYiOjE2Nzk3NzcwODUsImV4cCI6MTY3OTc3NzY4NSwiaXNzIjoiMDAwMDAwMDItMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImF1ZCI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMC9hdHRhY2htZW50Lm91dGxvb2subGl2ZS5uZXRAODRkZjllN2YtZTlmNi00MGFmLWI0MzUtYWFhYWFhYWFhYWFhIiwiaGFwcCI6Im93YSJ9.LAYQHQMTMZQNX6r-IbW44Lbfwu_-5agCY6g7HmU1bEHPP1Lntzip_CPW9lwW1-sBuc9cxBJLiwRg9LWT-DWY7Gqe5tock022bMNSKkmS-do9R7kfiq3cNHo7igtbHi8HFmm7oohOhMX_dy62Jo47K4x41MBb0CbKCClOBSo_z5DZbtCBXWZkt23pI_U9dASBKq7Bjx8xbOfF7kD1Upqo9X9P42qVMCbukHkLV5qtAcknmEccMMCfHUJLRlegkYGB0DlM97TKmKTHx64f8vzfvhXIxOr-2Y1RfFomxUCwzI-WWxB7zSlmp5IU81ONRccI7h4MJbaHtLZDswkp6Ko9xw&X-OWA-CANARY=pDtoNHraP0q2598PAPTBbXA-TNNxLdsYwRahwqSkv01sNLPDPkOjMjrXXypskrRo7Q05ZJPzUhY.&owa=outlook.live.com&scriptVer=20230317009.11&animation=true");
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: #fff;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/*Card Productos*/

.contenido-tienda {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: arial;
    background-color: rgb(79, 3, 3);
    color: #fff;
}

.card>img {
    width: 90%;
    height: 250px;
}

.precio {
    color: #fff;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0, 7;
}

/* Modal Contenido*/

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*For the top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: block;
    border: #bcbbbb 1px solid;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #bcbbbb;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
    justify-self: start;
}

.modal-container>.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container>div>img {
    height: 120px;
    width: 120px;
}

.total-content {
    width: 66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    padding: 20px;
    align-items: center;
    padding-top: 20px;
}

/*Eliminar | Sumar | Restar productos*/

.eliminar-producto {
    cursor: pointer;
}

.sumar {
    cursor: pointer;
}

.restar {
    cursor: pointer;
}

/*ContadorCarrito*/

.cantidad-carrito {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}

/*Footer*/

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1b1b1b;
    color: #bcbbbb;
}